@charset "UTF-8";

.qqs1 .info{
    width: 100%;
    height: 100%;

/*    background-image: url(/HumanRental/resources/image/01.jpg);*/
    background-size: cover;

    text-align: center;
    font-size: 50px;
    color: white;
    line-height: 150px;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.qqs1 .slide{
    width: 100%;
    height: 100%;
/*    background-image: url(/HumanRental/resources/image/0dc8c8ac44e0ff31987ee4e25cc345a5.png);*/
    background-size: cover;

    color: white;
    text-align: center;
    line-height: 300px;
    font-size: 50px;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}