pre{
	font-family: "NanumBarunGothic" !important;
}

.detail{
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin-top: 30px;
}

.detail .top{
}

.detail .top .left{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.detail .top .img{
    /* border: 1px solid black; */
    background-image: url();
    background-color: black;
    background-size: cover;
    width: 39vh;
    height: 39vh;
}

.detail .top .info{
    margin-top: 30px;
}

.detail .top .qq{
    display: flex;
    justify-content: space-between;
	position: relative;
}

.detail h4 span i{
    font-size: 1.3vh;
    position: relative;
    top: -3px;
}

.detail .qq .box1, .detail .qq .box2{
    width: 13vh;
    height: 4.5vh;
    font-size: 2vh;
    margin: 0 1vh;
}


.detail .qq .calendarForm{
	width: auto;
	height: auto;
	font-size: 15px;
	position: absolute;
	top: 60px;
	left: 250px;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}



/*리뷰*/

.detail .bot{
    margin-top: 50px;
}


.detail .bot .box1{
    height: 8vh;
    padding-left: 3vh;
}

.detail .bot .box1 h2{
	margin: 0 !important;
}

.detail .bot .box2{
    border: 1px solid black;
    margin-top: 2vh;
    padding: 2vh 1.5vh;
}

.detail .bot .card-info{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.detail .bot .card-info .date{
    margin: auto 0;
}

.detail span{
    color: yellow;
    text-shadow: -1px 0px orange, 0px 1px orange, 1px 0px orange, 0px -1px orange;
}

.detail .line{
    height: 1px;
    background-color: black;
    margin: 20px 0;
}

.detail .another{
    margin-top: 30px;
}