<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5a6a42a0b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style_footer.css">
</head>
<body>
    <div class="foot">
        <div>
            <i class="fas fa-copyright text-light me-2"></i> <span>휴먼렌탈</span>, 세상을 바꾸는 힘.
        </div>
        <div>
            Designed By <span>Jeonghwan Lee</span>
        </div>
    </div>
</body>
</html>